<style>
    ul {
        list-style-type: none;
    }
</style>
{% include "adminHeader.html" %}
<div class="container mt-3">


    <form method="post" action="{{ url_for('edit_lecturer.edit_lecturer') }}" style="text-align: right"
          enctype="multipart/form-data" onsubmit="return check_strong_password()">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="uname1" class="form-label">שם משתמש</label>
        <input type="text" name="uname1" value="{{ uname }}" class="form-control" readonly>
        <label for="fname1" class="form-label">שם פרטי</label>
        <input type="text" name="fname1" value="{{ fname }}" class="form-control">
        <label for="lname1" class="form-label">שם משפחה</label>
        <input type="text" name="lname1" value="{{ lname }}" class="form-control">
        <label for="password1" class="form-label">סיסמה</label>
        <input type="text" name="password1" class="form-control">
        <div class="form-group">
          <label for="category" class="form-label">קטגוריה</label>
            <ul id="category" class="form-control">
            {% for i in category_len %}
            <li><input type="checkbox" id="category-{{ i }}" name="{{ category[i] }}" value="{{ category[i] }}" onclick="add_tags('category-{{ i }}','{{ category[i] }}')">
                <label for="category-{{ i }}">{{ category[i] }}</label></li>
            {% endfor %}
            </ul>
           </div>
            <div class="form-group">
                <label for="tags" class="form-label">תת קטגוריה</label>
            <ul id="tags" class="form-control">
              {% for i in tags_len %}
                  <li><input type="checkbox" id="tags-{{ i }}" name="{{ tags[i] }}" value="{{ tags[i] }}">
                <label for="tags-{{ i }}">{{ tags[i] }}</label></li>
                {% endfor %}
            </ul>
            </div>
          <label for="desc1" class="form-label">תיאור</label>
          <input type="text" name="desc1" class="form-control" value="{{ desc }}">
          <label for="image1" class="form-label">תמונה</label>
          <input type="file" name="image1" class="form-control" >
          <input type="submit" value="שנה" style="width:100%" class="btn-primary">
          </form>

    </div>
  </div>
<script>
    function check_strong_password(){
        if (document.getElementsByName("password1")[0].value != ""){
            if (document.getElementsByName("password1")[0].value.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/)) {
                return true;
            } else {
                alert("הסיסמה חלשה ")
                return false;

            }
        }
    }
    $(document).ready(function (){
        $('#tags').children().css({"display":"none"})
        {% for i in checked_category %}
            $("input[type='checkbox'][name='{{ i }}']").prop('checked',true)
            //document.getElementsByName("{{ i }}").checked = true;
            $("input[type='checkbox'][value^='{{ i }}']").parent().css({"display":"block"})
        {% endfor %}
    {% for i in checked_tags %}
            $("input[type='checkbox'][name='{{ i }}']").prop('checked',true)

    {% endfor %}
    });

    function add_tags(id,value){
        var uncheck = $("input[type='checkbox'][id^=category-]").filter(':checked')

        if (uncheck.length == 0){
                $('#tags').css('display','none')
                $('#tags').children().css({"display":"none"})
                $('#tags').parent().find("label")[0].style.display = "none"
        }
        if($('#'+id).is(':checked')){
            $('#tags').css('display','block')
            $('#tags').parent().find("label")[0].style.display = "block"
            $("input[type='checkbox'][value^="+value+"]").parent().css({"display":"block"})
        }
        else{
           $("input[type='checkbox'][value^="+value+"_]").parent().css({"display":"none"})
            $("input[type='checkbox'][value^="+value+"_]").prop('checked',false)
        }
    }
</script>

</body>
</html>