{% if current_user.id == 1 %}
    {% include "adminHeader.html" %}
{% else %}
    {% include "student_header.html" %}
{% endif %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}">
<div class="container-fluid" style="text-align: right">
    <div class="table-responsive">
        <table class="table table-striped">
            <th>
                תיאור
            </th>
            <th>
                מרצה
            </th>
            <tbody>
            {% for i in lecturers %}
                <tr>
                    <td>
                        {{ i.desc }}
                    </td>
                    <td>
                        <form method="post" style="display: inline"
                              action="{{ url_for('set_appointment.set_appointment') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" value="{{ i.uname }}" name="val">
                            <button type="submit" style="width:90%; margin:10px"
                                    class="btn btn-outline-primary">{{ i.fname }} {{ i.lname }}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</body>
</html>