{% include "student_header.html" %}
<div class="container mt-3">


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form method="post" action="{{ url_for('student_profile.student_profile') }}"
                  style="text-align: right;margin-bottom: 10px" onsubmit="return check_strong_password()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="uname1" class="form-label">שם משתמש</label>
                <input type="text" name="uname1" value="{{ uname }}" class="form-control" readonly>
                <label for="fname1" class="form-label">שם פרטי</label>
                <input type="text" name="fname1" value="{{ fname }}" class="form-control">
                <label for="lname1" class="form-label">שם משפחה</label>
                <input type="text" name="lname1" value="{{ lname }}" class="form-control">
                <label for="password1" class="form-label">סיסמה</label>
                <input type="text" name="password1" class="form-control">
                <input type="submit" value="שנה" style="width:100%;margin-top: 5px" class="btn-primary">
          </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        {% for i in table_len %}
            <div class="card text-end"  style="width:100%">
    <div class="card-body">
      <h4 class="card-title">פגישה ב{{ user_appos[i].appo_date }} {{ user_appos[i].appo_start_hour }}</h4>


        <table class="table-responsive" style="float:right;display: block">
            <thead style="display: none">
            <th></th><th></th>
            </thead>
            <tr>
                <td>{{ user_appos[i].appo_date }}</td>
                <td>:תאריך</td>
            </tr>
            <tr>
                <td>{{ user_appos[i].appo_start_hour }}</td>
                <td>:שעה</td>
            </tr>
        <tr>
            <td>{{ user_appos[i].appo_end_hour }}</td>
            <td> :שעת סיום</td>
        </tr>
        <tr>
            <td><span>דקות</span><span style="float: right">{{ user_appos[i].appo_dur }}</span></td>
            <td> :משך הפגישה</td>
        </tr>
            <tr>

                <td>{{ user_appos[i].appo_loc }}</td>
                <td> :מיקום</td>
            </tr>
        <tr>
            <td>{{ user_appos[i].fname }} {{ user_appos[i].lname }}</td>
            <td> :מרצה</td>
        </tr>
            <tr>
                <td>{{ user_appos[i].appo_msg }}</td>
                <td> :הודעות</td>
            </tr>
        </table>

    </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('del_appointment.del_appointment') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="lect_name" value="{{ user_appos[i].uname }}">
                        <input type="hidden" name="ap_date" value="{{ user_appos[i].appo_date }}">
                        <input type="hidden" name="ap_hour_st" value="{{ user_appos[i].appo_start_hour }}">
                        <button type="submit" class="btn btn-danger" style="float:right">בטל פגישה</button>
                    </form>

                </div>
            </div>
        {% endfor %}

    </div>

    </div>
  </div>
<script>
    function check_strong_password(){
        if document.getElementsByName("password1")[0].value != ""{
            if (document.getElementsByName("password1")[0].value.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/)) {
                return true;
            } else {
                alert("הסיסמה חלשה ")
                return false;

            }
        }
    }
</script>

</body>
</html>
